@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

*{
  font-family: 'Gabarito', cursive;
  margin: 0;
  padding: 0;
}

#root{
  background-color: var(--dark-mode, rgb(255, 0, 0));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#time{
  border-style: solid;
  border-radius: 1em;
  padding: 0 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  max-width: 80%;
}

#display{
  font-family: 'Martian Mono', monospace;
  margin-top: 2vh;
  font-size: 6rem;
  transition: font-size 0.5s ease;
  display: flex;
  justify-content: center;
}

#controls{
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#controls button{
  font-size: 1.3rem;
  margin:0 0.5vw;
  border-radius: 50%;
  padding:2vh 20px;
  transition: font-size 0.5s ease;
}

#lightAndDark{
  align-self: flex-end;
  background-color: blue;
  width: 70px;
  padding: 0.5vw 0.5vw;
  border-radius: 1em;
  margin-right: 1vw;
  margin-top: 3vh;
}

#toggle{
  width: 30%;
  height: 100%;
  border-radius: 50%;
  border-style: none;
}

table{
  margin: 5vh 5vw;
  background-color: white;
}

table th{
  font-size: 1.3rem;
  width: 33.3333%;
}

table td{
  text-align: center;
}

@media (max-width:600px) {
  #display{
    font-size: 4rem;
    transition: font-size 0.5s ease;
  }
}

@media (max-width:400px) {
  #display{
    font-size: 2.5rem;
    transition: font-size 0.5s ease;
  }
  #controls button{
    font-size: 1rem;
    transition: font-size 0.5s ease;
  }
}