@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

*{
  font-family: 'Gabarito', cursive;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--night-mode, rgb(255, 255, 255));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
}

#time{
  border-radius: 1em;
  padding: 0 5vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  max-width: 80%;
}

#display{
  color: var(--light-mode, rgb(0, 0, 0));
  font-family: 'Martian Mono', monospace;
  margin-top: 2vh;
  font-size: 6rem;
  transition: font-size 0.5s ease;
  transition: color 0.5s ease;
  display: flex;
  justify-content: center;
}

#controls{
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#controls button{
  background-color: var(--light-mode, rgb(0, 0, 0));
  transition: .5 ease;
  color: var(--night-mode, rgb(255, 255, 255));
  border-style: none;
  font-size: 1.5rem;
  margin:0 1.5vw;
  border-radius: 50%;
  padding: 1.5vh 0;
  min-width: 50px;
  transition: background-color 0.5s ease;
}

#controls button:hover{
  cursor: pointer;
}

#controls button:active{
  transform: scale(.95);
  transition: transform 0.1s ease;
}

#toggle{
  background-color: var(--light-mode, rgb(0, 0, 0));
  max-width: 80px;
  min-height: 25px;
  border-radius: 70px;
  padding: 3px 5px 1px 5px;
  margin-left: 1vw;
  margin-top: 2vh;
  transition: background-color 0.5s ease;
}

#toggle button{
  background-color: var(--night-mode, rgb(255, 255, 255));
  width: 34%;
  height: 25px;
  border-radius: 50%;
  border-style: none;
  transition: 0.5s ease;
  cursor: pointer;
}

#toggle .active{
  transform: translateX(53px);
}

table{
  margin: 5vh auto;
  width: 90%;
  background-color: var(--night-mode, rgb(255, 255, 255));
  transition: background-color 0.5s ease;
}

table th{
  background-color: var(--light-mode, rgb(0, 0, 0));
  color: var(--night-mode, rgb(255, 255, 255));
  margin-left: 2vw;
  text-align: left;
  border: solid 2px var(--light-mode, rgb(0, 0, 0));
  padding: 1.2vh;
  font-size: 1.8rem;
  width: 33.3333%;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

table{
  border-collapse: collapse;
}

table td{
  color:var(--light-mode, rgb(0, 0, 0));
  border-left: solid var(--light-mode, rgb(0, 0, 0)) 2px;
  border-right:solid var(--light-mode, rgb(0, 0, 0)) 2px;
  margin-left: 2vw;
  text-align: left;
  padding: 1vh;
  font-size: 1.2rem;
  transition: color 0.5s ease;
}

table tbody tr:nth-of-type(even){
  background-color: var(--gray-mode, rgb(230, 230, 230));
  transition: background-color 0.5s ease;
}

table tbody tr:nth-of-type(odd){
  background-color: var(--night-mode, rgb(255, 255, 255));
  transition: background-color 0.5s ease;
}

table tbody tr:last-child{
  border-bottom: solid var(--light-mode, rgb(0, 0, 0)) 2px;
  transition: border-bottom 0.5s ease;
}

@media (max-width:600px) {
  #display{
    font-size: 4rem;
    transition: font-size 0.5s ease;
  }
  #controls button{
    font-size: 1rem;
    transition: font-size 0.5s ease;
    min-width: 40px;
  }
}

@media (max-width:400px) {
  #display{
    font-size: 2.5rem;
    transition: font-size 0.5s ease;
  }
}